
.mobile-toggle {
  font-size: 2rem;
  display: none;
}
.showMobileHeader{
  background-color: red;
  width: 100px;
  height: 100px;
}
@media (max-width: 765px){
  .nav-item{
    display: none;
  }
  .mobile-toggle{
    display: block;
  }
}

